<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper class="my-swiper">
    <ng-template swiperSlide>
      <div class="swiper-slide-container">Slide 1</div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide-container">Slide 2</div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide-container">Slide 3</div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide-container">Slide 4</div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide-container">Slide 5</div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide-container">Slide 6</div>
    </ng-template>
  </swiper>
</ion-content>