.my-swiper {
  height: 100%;
  background: rgb(206, 193, 193);
}

.swiper-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(253, 196, 196);
  height: 100%;
  max-width: 600px;
  margin: auto;
  border-radius: 20px;
}
